.ra-layout {
  height: 100%;
  .ra-layout-header {
    z-index: 101;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 16px;
    &-nav {
      flex: 1;
      .ant-menu {
        background: 0 0;
      }
    }
    &-right {
      min-width: 200px;
    }
  }
  .ra-logo {
    h1 {
      height: 32px;
      margin: 0 0 0 12px;
      color: var(--ant-primary-color);
      font-weight: 600;
      font-size: 18px;
      line-height: 32px;
    }
  }
  .ra-layout-sider {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    box-shadow: 2px 0 8px 0 rgb(29 35 41 / 5%);
    .ant-layout-sider-trigger {
      border-top: 1px solid rgba(0,0,0,.06);
      text-align: left;
    }
    .ra-layout-sider-logo {
      position: relative;
      display: flex;
      align-items: center;
      padding: 16px;
      cursor: pointer;
      transition: padding .3s cubic-bezier(.645,.045,.355,1);
    }
  }
  .ra-layout-sider-ghost {
    width: 208px;
    overflow: hidden;
    transition: background-color 0.3s ease 0s, width 0.3s ease 0s, width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
  .ra-layout-breadcrumb {
    background-color: #fff;
    padding: 12px 24px;
    &-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-title {
        margin-right: 12px;
        margin-bottom: 0;
        color: rgba(0,0,0,.85);
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .ra-layout-content {
    background-color: #fff;
    margin: 24px;
    padding: 24px;
  }
}

.ra-layout-mix {
  .ra-layout-header {
    color: #fff;
    box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
    justify-content: space-between;
    .ra-logo {
      h1 {
        color: #fff;
      }
    }
  }
}

.ra-layout-top {
  .ra-layout-header {
    background: #fff;
    box-shadow: 0 1px 4px 0 rgb(0 21 41 / 12%);
    .ra-logo {
      h1 {
        color: rgba(0,0,0,.85);
      }
    }

    &-left {
      min-width: 192px;
    }
  }

  .ant-menu {
    background: 0 0;
    color: rgba(0,0,0,.85);
  }
}
.ra-settings-content {
  h3 {
    margin-bottom: 12px;
  }
  .ra-settings-block {
    display: flex;
  }
  .theme-color-block {
    width: 20px;
    height: 20px;
    margin-top: 8px;
    margin-right: 8px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 20px;
    border-radius: 2px;
    cursor: pointer;
  }
  [class^=ra-settings-layout-block] {
    position: relative;
    width: 44px;
    height: 36px;
    margin-right: 16px;
    overflow: hidden;
    background-color: #f0f2f5;
    border-radius: 4px;
    box-shadow: 0 1px 2.5px 0 rgb(0 0 0 / 18%);
    cursor: pointer;
    
    .ra-check-icon {
      position: absolute;
      right: 6px;
      bottom: 4px;
      font-weight: 700;
      font-size: 14px;
      pointer-events: none;
    }
    &::before, &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
    }
    &::after {
      background-color: #fff;
      width: 100%;
      height: 25%;
    }
  }
  .ra-settings-layout-block-mix {
    &::before {
      z-index: 1;
      background-color: #001529;
      width: 33%;
      height: 100%;
    }
  }
}
